{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<section class="hero is-primary is-bold is-large">
  <div class="hero-body"></div>
  <form action="/predict" method="POST" id="predict">
    <p>
        <label for="home">Home</label>
        <input id="home" name="home" type="text">
    </p>
    <p>
        <label for="away">away</label>
        <input id="away" name="away" type="text">
    </p>
    <input type="submit" value="Predict">
    <p>
      <li> {{ text }} </li>
    </p


</section>
{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
{% endblock %}
